[
    {
    "current":"2.4.0_dev",
    "min_down":"2.1.2_rtm.20170212",
    "no_max_down":"2.1.3_rtm.20170311",
    "max_up":"2.4.1_rtm.20170425",
    "no_min_up":"2.4.2_dev.20170525"
    },
    {
    "current":"2.4.0_dev",
    "min_down":"2.1.2_rtm.20170212",
    "no_max_down":"2.1.3_rtm.20170311",
    "max_up":"2.4.1_rtm.20170425",
    "no_min_up":"2.4.2_dev.20170525"
    }
]