{
    "TestInfo": {
        "TestName": "DailyTest",
        "TestDesc": "Zeus Daily Build Move Test",
        "Test": [
            {
                "testname": "moveandcheck",
                "testpoint": 5
            },
            {
                "testname": "gohome",
                "testtimes": 50
            }
        ]
    },
    "moveandcheck": {
        "testpoint": 5,
        "checknum": 90,
        "points": [
            {
                "pointx": 1,
                "pointy": 0,
                "a2num": 0
            },
            {
                "pointx": 1,
                "pointy": -0.5,
                "a2num": 0
            },
            {
                "pointx": 2,
                "pointy": 0,
                "a2num": 0
            },
            {
                "pointx": 3,
                "pointy": 0,
                "a2num": 1
            },
            {
                "pointx": 3,
                "pointy": -1,
                "a2num": 1
            }
        ]
    },
    "gohome": {
        "testtimes": 5,
        "points":[
        {
            "pointx":1,
            "pointy":0
        },
        {
            "pointx":2,
            "pointy":0
        }
        ]
    }
}